.tingle-modal-box {
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    width: unset;
}

.tingle-modal-box__content {
    padding: 0 !important;
}

.modal {}

.modal__filter {
    input {
        @apply .input;
    }

    ul {
        li {
            &.selected {
                @apply .bg-gray-300;
            }
        }
    }
}
