@mixin create-color-scheme($hue:0,$sat:0) {
    @for $i from 0 through 100 {
        --theme-color-#{$i}: hsla(#{$hue},#{$sat}%,#{$i}%);
    }
}
// @mixin create-color-scheme-10($hue:0,$sat:0) {
//     @for $i from 1 through 10 {
    
//         $value:$i;

//         @if $i == 1 {
//           $value: 0;
//         } @else {
//           $value: $i * 10;
//         }
      
//         --theme-color-#{$value}: hsla(#{$hue},#{$sat}%,#{$value}%);
//     }
// }


:root{

    // Black
    --color-black :hsl(0,0%,0%);
    // White
    --color-white :hsl(0,0%,100%);
    // Color for background 
    --color-background:hsl(210, 21%, 89%);
    // Color for surfaces
    --color-surface:hsl(0,0%,100%);
    // Darker color than the surface for elements placed on it, textarea ie.
    --color-surface-dark-light:hsla(216, 100%, 99%);
    // Border around element with background surface dark
    --color-surface-dark:hsl(216, 100%, 97%);
    // Border color - Also used for secondary buttins
    --color-border:hsl(210, 31%, 95%);
    // Darker border - used ie input elements
    --color-border-darker:hsl(210, 16%, 80%);
    // Text Color 
    --color-text:hsl(212, 10%, 30%);
    // Accent color used for links, action buttons..
    --color-accent:hsl(200, 80%, 50%);
    // Accent hover color
    --color-accent-hover:hsl(200, 80%, 70%);

    --font-size-small:.8125rem;
    --font-size-base:1rem;
    --font-size-large:2rem;


    //@include create-color-scheme(214, 47);
    //@include create-color-scheme(253, 91);
    
    
    // --color-background:var(--theme-color-97);
    // --color-surface:var(--color-white);
    
    // --color-primary:var(--theme-color-0);
    // --color-primary-off:var(--theme-color-0);
    // --color-primary-hover:var(--theme-color-70);
    // --color-primary-active:var(--theme-color-100);
    
    // --color-white:#fff;

    
}