:root{

    // Black
    --color-black :hsl(0,0%,0%);
    // White
    --color-white :hsl(0,0%,100%);
    // Color for background 
    --color-background:#E8EBED;
    // Color for surfaces
    --color-surface:hsl(0,0%,100%);
    // Darker color than the surface for elements placed on it, textarea ie.
    --color-surface-dark-light:hsla(216, 100%, 99%);
    // Border around element with background surface dark
    --color-surface-dark:hsl(216, 100%, 97%);
    // Border color - Also used for secondary buttins
    --color-border:hsl(210, 31%, 95%);
    // Darker border - used ie input elements
    --color-border-dark:hsl(210, 16%, 80%);
    --color-border-light:hsl(210, 16%, 85%);
    // Text Color 
    --color-text:#535556;
    // Light text color 
    --color-text-light:#A1A4A5;
    // Accent color used for links, action buttons..
    //--color-accent:hsl(204, 47%, 82%);
    --color-accent:#70aad2;
    //--color-accent:#88B8D9;
    // Accent hover color6 EA9D1
   // --color-accent-hover:hsl(200, 80%, 70%);
    //--color-accent-hover:hsl(204, 47%, 82%);
    --color-accent-hover:#88B8D9;

    --font-size-xs:.8125rem;
    --font-size-sm:.875rem;
    --font-size-base:1rem;
    --font-size-lg:1.2rem;
    --font-size-xl:1.5rem;



    
}