.o-form
{
    @apply flex justify-center items-center h-screen;
}

//  ----------------------------------------------------------------------------
//  Global element styling
//  ----------------------------------------------------------------------------t
.o-form label
{
    @apply block text-gray-700 text-sm font-bold mb-2 mb-1;
}
.o-form input
{
    @apply  appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight outline-none;
}

//  ----------------------------------------------------------------------------
//  Separate rows in a form
//  ----------------------------------------------------------------------------
.o-form__row + .o-form__row
{
    @apply mt-3;
}

//  ----------------------------------------------------------------------------
//  Actions - Flexed row with elements in it.
//  ----------------------------------------------------------------------------
.o-form__actions
{
    @apply flex items-center justify-between;
}
//  ----------------------------------------------------------------------------
//  Form footer - can be combined with actions.
//  ----------------------------------------------------------------------------
.o-form__footer
{
    background-color: hsl(var(--theme-blue-primary-color-hs),98%);
    border-top: 1px solid hsl(var(--theme-blue-primary-color-hs),97%);
    @apply  p-3 pb-3 px-3 mt-0;
}

//  ----------------------------------------------------------------------------
//  Form Footer Common Action Elements Styling
//  ----------------------------------------------------------------------------
.o-form__actions button
{
    
    @apply text-white font-bold py-2 px-4 pb-2 rounded-sm leading-none mx-2;
    background:hsla(214, 83%, 75%, 1);
    transition: all 200ms ease-in-out;

    &:hover 
    {
        background:hsla(214, 83%, 80%, 1);
    }

}
.o-form__actions a 
{
    @apply inline-block align-baseline text-sm mx-2;
}
//  ----------------------------------------------------------------------------
//  Fields wrapper
//  ----------------------------------------------------------------------------
.o-form__fields-wrapper
{
    @apply p-5;
}
//  ----------------------------------------------------------------------------
//  Login form - //TODO: remove
//  ----------------------------------------------------------------------------
.o-form__form
{
    width: 320px;
    background: #fff;
    @apply shadow-md rounded;
}

