@import "theme.scss";

.login__wrapper {
    @apply .flex .h-screen;

    .login__left {
        position: relative;
        @apply .w-1/2 .flex .justify-center .items-center .overflow-hidden .p-4 .px-3 .py-10 .bg-gray-200 .border-gray-400 .border-0 .border-r-2;

        .form__wrapper {
            @apply .w-full .max-w-xs .relative;

            form {
                @apply .bg-white .shadow-md .rounded .px-8 .pt-6 .pb-8 .mb-4;

                >label {
                    @apply .block .text-gray-700 .text-sm .font-bold .mb-2;
                }
            }

            .form__actions {
                @apply .flex .items-center .justify-between;
            }
        }
    }

    .login__right {
        @apply .w-1/2 .flex .justify-center .items-center .bg-green-500;

        svg {
            width: 100px;
            filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));

            path {
                fill: #ffffff;
            }
        }
    }
}
