@import "theme.scss";

.login__wrapper {
    @extend .d-flex,
    .vh-100;

    .login__left {
        @extend .position-relative,
        .justify-content-center,
        .align-items-center,
        .overflow-hidden,
        .border-right,
        .d-flex,
        .w-50,
        .px-2,
        .py-5,
        .p-4;

        //.bg-gray-200,
        //.border-gray-400,

        .form__wrapper {
            @extend .w-75;

            form {
                @extend .bg-white,
                .rounded,
                .px-5,
                .pt-4,
                .pb-5,
                .mb-2;
                //.shadow-md

                >label {
                    @extend .font-weight-bold,
                    .small,
                    .mb-2;
                    //.text-gray-700
                    //.d-block
                    //.text-sm
                }
            }

            .form__actions {
                @extend .d-flex,
                .align-items-center,
                .justify-content-between;
            }
        }
    }

    .login__right {
        @extend .w-50,
        .justify-content-center,
        .align-items-center,
        .bg-success,
        .d-flex;
        //.bg-green-500

        svg {
            width: 100px;
            filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));

            path {
                fill: #ffffff;
            }
        }
    }

    .login__version {
        @extend .position-absolute,
        .text-muted,
        .small,
        .ml-2,
        .mb-2;

        left: 0;
        bottom: 0;

        //.text-gray-500
        //.bottom-0
        //.left-0
    }
}
